# Ignore output log files
parse_log
testlog

# Ignore back up files
*~
*.back

# Ignore database backups
database

# Ignore project files
.project
.buildpath
.settings

# Ignore class files
*.class

*.png

doc/poster/

# Ignore js libraries
js/lib
